
  .react-tabs {
    display: flex;
    margin-left: 36px;
    width: 400px;
    height: auto;
    color: #EEECE7;
  }
  
  .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0;
    padding: 0;
    color: #EEECE7;
  }
  
  .react-tabs__tab {
    height: 35px;
    list-style: none;
    padding: 22px 90px;
    cursor: pointer;
    color: #9A9A9A;
    font-family: 'Roboto Mono', sans-serif;
    border-left: 2px solid #9A9A9A;
  }
  
  .react-tabs__tab--selected {
    border-color: #202020;
    border-left: 2px solid #FFC700;
    color: #FFC700;
    font-family: 'Roboto Mono', sans-serif;
  }
  
  .react-tabs__tab-panel {
    display: none;
    width: 600px;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
  
  .react-tabs__tab {
    padding-left: 30px;
  }
  
  .react-tabs__tab--selected {
    padding-left: 31px;
  }
  
  .panel-content {
    text-align: left;
    max-width:750px;
  }

.date {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:#9A9A9A;
}
  
.title {
    display: flex;
    flex-direction: row;
    max-width:800px;
}

.title h2 {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color:#EEECE7;
}

.title span {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color:#FFC700;
}

.list-tab {
    display: grid;
    grid-template-columns: repeat(1, minmax(140px, 850px));
    grid-gap: 0 0px;
    padding: 0;
    margin: 20px 0 0 0;
    overflow: hidden;
    list-style: none;
    color:#C6C6C6;
    width:500px;
}

.list-tab li {
    position: relative;
    margin-bottom: 25px;
    padding-left: 20px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
}

.list-tab li:before {
    content: '▹';
    position: absolute;
    left: 0;
    color: #FFC700;
    font-size: 16px;
  }

  @media screen and (max-width:960px) {
    .react-tabs {
      margin-left: 0px;
      max-width:400px;
      padding:0px 30px;
    }
    .react-tabs__tab-list {
      display: flex;
      flex-direction: row;
      width: 200px;
      padding: 30px 0;
    }
    .react-tabs__tab {
      border-bottom: 2px solid #9A9A9A;
      border-left: none;
      padding: 30px 40px;
      height: 35px;

    }
    .react-tabs__tab--selected  {
      border-bottom: 2px solid #FFC700;
      border-left: none;
    }
    .react-tabs {
      flex-direction: column;
      width:100%;
      font-size: 12px;
    }
    .react-tabs__tab-panel {
      max-width: 400px;
    }
    .list-tab {
      grid-template-columns: repeat(1, minmax(140px, 350px));
      max-width:400px;
  }
  .title h2 {
    font-size: 22px;

} 

.title span {
  font-size: 22px;
}
  }